/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

:root {
  --Lightred: hsl(0, 100%, 67%);
  --Orangeyyellow: hsl(39, 100%, 56%);
  --Green-teal: hsl(166, 100%, 37%);
  --Cobaltblue: hsl(234, 85%, 45%);

  /* ## Gradients */

  --gradient1-1: hsl(252, 100%, 67%);
  --gradient1-2: hsl(241, 81%, 54%);
  /* circle */
  --Violetblue: hsla(256, 72%, 46%, 1);
  --Persianblue: hsla(241, 72%, 46%, 0);

  /* ### Neutral */

  --White: hsl(0, 0%, 100%);
  --Paleblue: hsl(221, 100%, 96%);
  --Lightlavender: hsl(241, 100%, 89%);
  --Darkgrayblue: hsl(224, 30%, 27%);
}
body {
  font-family: "Red Hat Display", serif;
}
main {
  height: 100vh;
  width: 100%;
  background-color: var(--Paleblue);
  display: flex;
  justify-content: center;
  align-items: center;
}
/* COLUMN RIGHT PART */

.wrapper {
  width: 46.875rem;
  height: 32.5rem;
  background-color: white;
  border-radius: 3rem;
  display: flex;

  justify-content: center;
}
.result-content {
  width: 50%;
  height: 100%;
  background: linear-gradient(var(--gradient1-1), var(--gradient1-2));
  border-radius: 3rem;
}
h1 {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 900;
  color: var(--Lightlavender);
  padding-top: 45px;
  margin-bottom: 30px;
}
.progress-score {
  width: 12.5rem;
  height: 12.5rem;
  border-radius: 100%;
  margin: auto;
  background: linear-gradient(var(--Violetblue), var(--Persianblue));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.progress-score p:first-child {
  font-size: 4.5rem;
  font-weight: 900;
  color: var(--White);
}
.progress-score p:nth-last-child(1) {
  font-size: 1.125rem;
  color: var(--Lightlavender);
  font-weight: 900;
}

.last-result {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-content: center;
}
h2 {
  padding-top: 20px;
  text-align: center;
  color: var(--White);
  font-weight: 900;
  font-size: 2rem;
}
.last-result > p {
  text-align: center;
  font-size: 1.125rem;
  font-weight: 700;
  padding: 0 40px 0 40px;
  color: var(--Lightlavender);
}

/* COLUMN LEFT PART */
.summary-content {
  border-radius: 0 20px 20px 0;
  width: 50%;
  height: 100%;
}
h3 {
  padding-top: 45px;
  padding-left: 4rem;
  font-size: 1.5rem;
  font-weight: 900;
}
.summary-details {
  /* border: 2px solid yellow; */
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 2rem;
}
.summary-desc {
  /* border: 1px solid black; */
  display: flex;
  justify-content: flex-start;
  border-radius: 20px;
  padding: 7px;
}
.summary-desc > div {
  display: flex;
  gap: 20px;
  font-size: 1.125rem;
  font-weight: 900;
  align-items: center;
  height: 50px;
}
.score {
  flex: 2;
  justify-content: flex-end;
  color: grey;
}
.slash {
  color: grey;
  font-weight: lighter;
}
span {
  color: black;
}
.red {
  color: var(--Lightred);
  background-color: rgb(255, 248, 248);
}
.yellow {
  color: var(--Orangeyyellow);
  background-color: rgba(255, 178, 30, 0.05);
}
.green {
  color: var(--Green-teal);
  background-color: rgb(242, 247, 242);
}
.blue {
  color: var(--Violetblue);
  background-color: rgb(243, 245, 250);
}

button {
  height: 55px;
  font-size: 1.2rem;
  border-radius: 100px;
  font-weight: 900;
  color: white;
  border: none;
  background-color: var(--Darkgrayblue);
}
/* 
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
} */
